<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog Post - Trevor Dcosta</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/untitled.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="{{url_for('home')}}">Trevor Dcosta</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{url_for('home')}}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('about')}}">About me</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact me</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('posts')}}">Blog Post</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url({{ url_for('static',filename='assets/img/post-bg.jpg')}});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="post-heading">
                        <h1>Blogs will be coming soon</h1>
                        <h2 class="subheading">Stay Tuned</h2><span class="meta">Posted by&nbsp;<a href="#">Trevor Dcosta</a>&nbsp;on February 2, 2021</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    
                </div>
            </div>
        </div>
    </article>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse" link="https://twitter.com/TrevorDcosta04"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse" link=""></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse" link="https://github.com/dcostat04"></i><i class="fa fa-github fa-stack-1x fa-inverse" link="https://github.com/dcostat04"></i><i class="fa fa-github fa-stack-1x fa-inverse" link="https://github.com/dcostat04"></i><i class="fa fa-github fa-stack-1x fa-inverse" link="https://github.com/dcostat04"></i></span></li>
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;TrevorDcosta 2020</p>
                </div>
            </div>
        </div>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/current-day.js')}}"></script>
</body>

</html>
